:root {
    --mainBGColor:#282828;
    --mainText:white;



}

 body {
    padding: 0;
    margin: 0;
    color: var(--mainBGColor);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
 }

.container {
    margin: auto;
    width: 50%;
    border: 3px darkred;
    padding: 10px;
}

.hide {
    display: none;
}